{% extends 'layout.twig' %}

{% block body %}
  <div class="container">
    <h1>Status page</h1>

    <div class="card">
      <div class="card-header">Fælles Bibliotekssystem - SIP2</div>
      <div class="card-body alert-success">
        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">Fælles Bibliotekssystem - CMS REST API</div>
      <div class="card-body alert-success">
        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">OpenSearch</div>
      <div class="card-body alert-success">
        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">DDB CMS status page by ITK-Development</span>
    </div>
  </footer>
{% endblock %}
