{% extends 'layout.twig' %}

{% block body %}
  <div class="container">
    <h1>Status page</h1>
    {{ content }}
  </div>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">DDB CMS status page by ITK-Development</span>
    </div>
  </footer>
{% endblock %}
