{% extends 'layout.twig' %}

{% block body %}
  <div class="progress">
    <div class="progress-bar bg-info" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="container">
    <h1>Status page</h1>
    {{ content }}
  </div>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">DDB CMS status page by ITK-Development</span>
    </div>
  </footer>
{% endblock %}
